:root {
  --blueD: rgba(40, 39, 41, 0.301);
  --light: rgb(249, 225, 255);
  --blue: rgb(4 16 44 / 60%);
  --purple: rgb(173 12 255);
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  height: 100vh;
}

nav {
  background: transparent;
  color: var(--light);
}

.background-img {
  background-image: url("./images/lightning.avif");
  background-size: cover;
}

.card {
  background-color: var(--blue);
  color: var(--light);
}

.cardFiller {
  background: transparent;
  color: transparent;
}

h1 {
  width: 100%;
}

.citySearch {
  display: flex;
  flex-direction: column;
}

.bg-purple {
  background-color: var(--purple);
  color: white;
}
.bg-purple:hover {
  background-color: rgb(204, 105, 217);
}
.historyBtn {
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  background-color: var(--blueD);
  color: var(--light);
}

.historyBtn:hover {
  background-color: var(--blue);
}

.formBox {
  background-color: var(--blue);
  color: var(--light);
}

/* .searchBox {
   
} */

.weather-img {
  margin: 0 auto;
  width: 60%;
}

.main-icon {
  width: 180px;
  margin: 0 auto;
}
